llama-cpp-python
transformers==4.38.2
datasets==2.18.0
accelerate==0.29.3
evaluate==0.4.1
bitsandbytes==0.43.1
huggingface_hub>=0.23.2
trl==0.8.6
peft==0.10.0
scikit-learn
wandb
pandas
tqdm
PyPDF2
numpy==1.26.4
sentence-transformers==2.6.1
faiss-gpu==1.7.2
flash-attn==2.5.8
langchain==0.3.7
langchain-community==0.3.7
langchain-chroma==0.1.4