transformers==4.40.2
tokenizers==0.19.1
accelerate==0.30.1
peft==0.11.1
trl==0.9.6
bitsandbytes==0.43.1
huggingface_hub==0.24.6
safetensors==0.4.3
sentencepiece==0.2.0
sentence-transformers==2.6.1
faiss-gpu==1.7.2
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
tqdm==4.66.2
evaluate==0.4.1
wandb==0.16.4
PyPDF2==3.0.1
langchain==0.3.7
langchain-community==0.3.7
langchain-chroma==0.1.4
flash-attn==2.5.8
