transformers==4.38.2
datasets==2.18.0 
accelerate==0.29.3 
evaluate==0.4.1 
bitsandbytes==0.43.1 
huggingface_hub>=0.23.2 
trl==0.8.6 
peft==0.10.0 
scikit-learn 
wandb 
pandas 
tqdm 
pyPDF2 
langchain==0.3.27
langchain-community==0.3.27
FlagEmbedding==1.2.11